<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">
<h:head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />

	<title><ui:insert name="titulo">Titulo da Pagina</ui:insert></title>

	<link href='https://fonts.googleapis.com/css?family=Ubuntu:400,300,700'
		rel='stylesheet' type='text/css' />

	<h:outputStylesheet library="css" name="bootstrap.min.css" />
	<h:outputStylesheet library="css" name="estilo.css" />

</h:head>
<h:body data-spy="scroll" data-target=".menu-navegacao" data-offset="80">

	<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" data-target="#navbarCollapse"
					data-toggle="collapse" class="navbar-toggle">
					<span class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="glyphicon glyphicon-stats navbar-brand insetText"
					href="#page-top"> Universidade-JSF</a>
			</div>
			<div id="navbarCollapse" class="collapse navbar-collapse">
				<ui:insert name="menu">
					<ul class="nav navbar-nav navbar-right">
						<li><ui:insert name="inicio">
								<h:link class="glyphicon glyphicon-th" value=" Inicio"
									outcome="/index" />
							</ui:insert></li>
						<li><ui:insert name="cadastro">
								<h:link class="glyphicon glyphicon-floppy-disk"
									value=" Cadastro"
									disabled="#{loginBean.user.role.name!='Administrator'}"
									outcome="register" />
							</ui:insert></li>
						<li><ui:insert name="pesquisa">
								<h:link class="glyphicon glyphicon-search" value=" Pesquisa"
									outcome="listing" />
							</ui:insert></li>
						<li><ui:insert name="escola">
								<h:link class="glyphicon glyphicon-home" value=" Escolas"
									outcome="/register/school-registration" />
							</ui:insert></li>
						<li><ui:insert name="curso">
								<h:link class="glyphicon glyphicon-book" value=" Cursos"
									rendered="#{not empty schoolBean.listSchools()}"
									outcome="register/course-registration" />
							</ui:insert></li>
						<li><ui:insert name="aluno">
								<h:link class="glyphicon glyphicon-user" value=" Alunos"
									rendered="#{not empty courseBean.listCourses()}"
									outcome="register/student-registration" />
							</ui:insert></li>
						<li><ui:insert name="professor">
								<h:link class="glyphicon glyphicon-briefcase"
									value=" Professores"
									rendered="#{not empty schoolBean.listSchools()}"
									outcome="register/professor-registration" />
							</ui:insert></li>
						<li><ui:insert name="diciplina">
								<h:link class="glyphicon glyphicon-education" value=" Diciplinas"
									rendered="#{not empty courseBean.listCourses() and not empty professorBean.listProfessors()}"
									outcome="register/discipline-registration" />
							</ui:insert></li>
							
						<li><ui:insert name="voltar">
								<h:link class="glyphicon glyphicon-arrow-left" value=" Voltar"
									outcome="index" />
							</ui:insert></li>
														
						<li><ui:insert name="sair">
								<h:link class="glyphicon glyphicon-log-out" value=" Sair" />
							</ui:insert></li>
					</ul>
				</ui:insert>
			</div>
		</div>
	</nav>

	<section id="cadastro">
		<div class="container">
			<div class="col-xs-12">
				<div class="page-header">
					<h3>
						<ui:insert name="tituloPagina">Home</ui:insert>
						<small><ui:insert name="descricaoPagina"> Universidade JSF </ui:insert></small>
					</h3>
				</div>
				<div class="row">
					<div class="col-sm-6 col-md-6">
						<ui:insert name="conteudoDireita">

						</ui:insert>
					</div>
					<br />
					<div class="col-sm-6 col-md-6">
						<ui:insert name="conteudoEsquerda">

						</ui:insert>
					</div>
				</div>
			</div>
		</div>
	</section>

	<h:outputScript library="js" name="jquery-1.11.3.min.js" />
	<h:outputScript library="js" name="bootstrap.min.js" />
	<h:outputScript library="js" name="main.js" />
	<h:outputScript library="js" name="cep.js" />

</h:body>
</html>