<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateUniversidade.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Cadastros</ui:define>

	<ui:define name="tituloPagina">Universidade JSF |</ui:define>
	<ui:define name="descricaoPagina">Cadastro de Diciplina</ui:define>

	<ui:define name="cadastro" />
	<ui:define name="pesquisa" />

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
		<h:outputText name="cName"
			value="Curso: #{courseBean.courseById(param['courseId'])}" />
		<br />
		<h:outputText name="sName" value="Aluno: #{param['studentName']}" />
		<br />
		<br />


		<h:dataTable
			value="#{disciplineBean.disciplineByStudentName(param['studentName'])}"
			var="discipline">

			<h:column>
				<f:facet name="header">
						Disciplina(S)
					</f:facet>

				<f:facet name="header-discipline-name">
						Disciplinas					
					</f:facet>
				<h:outputText value="#{discipline.name}" />
			</h:column>

			<h:column>
				<h:link
					rendered="#{loginBean.user.role.name=='Professor' and loginBean.isMyStudent(param['studentName'])}"
					value="Cadastrar nota(s)" outcome="/register/grade-registration-2">
					<f:param name="disciplineId"
						value="#{disciplineBean.disciplineIdByDisciplineName(discipline.name)}" />
					<f:param name="studentId"
						value="#{studentBean.studentIdByStudentName(param['studentName'])}" />
				</h:link>
			</h:column>

		</h:dataTable>
	</ui:define>

</ui:composition>
