<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateUniversidade.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Cadastros</ui:define>

	<ui:define name="tituloPagina">Universidade JSF |</ui:define>
	<ui:define name="descricaoPagina">Cadastro de Diciplina</ui:define>

	<ui:define name="cadastro" />
	<ui:define name="pesquisa" />

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
		<h:form>
			<h:outputText value="NOTA 1:" />
			<br />
			<h:inputText value="#{gradeBean.grade.grade1}" class="form-control" />
			<br />
			<h:outputText value="NOTA 2:" />
			<br />
			<h:inputText value="#{gradeBean.grade.grade2}" class="form-control" />
			<br />
			<h:outputText value="NOTA 3:" />
			<br />
			<h:inputText value="#{gradeBean.grade.grade3}" class="form-control" />
			<br />
			<h:commandButton value="Incluir" action="#{gradeBean.addGrade}"
				class="btn btn-info">
				<f:param name="studentId" value="#{param['studentId']}" />
				<f:param name="disciplineId" value="#{param['disciplineId']}" />
			</h:commandButton>
		</h:form>
	</ui:define>

</ui:composition>