<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateUniversidade.xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets" 
	  xmlns:h="http://java.sun.com/jsf/html" 
	  xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Cadastros</ui:define>

	<ui:define name="tituloPagina">Universidade JSF |</ui:define>
	<ui:define name="descricaoPagina">Cadastro de Escolas</ui:define>
	
	<ui:define name="cadastro" />
	<ui:define name="pesquisa" />

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
		<h:form>
			<h:outputText value="Nome da Escola:" /><br/>		  
			<h:inputText value="#{schoolBean.school.name}" class="form-control"/><br/>	
			<h:commandButton value="Incluir" action="#{schoolBean.addSchool}" class="btn btn-info"/>
		</h:form>	
	</ui:define>

</ui:composition>