<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateUniversidade.xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets" 
	  xmlns:h="http://java.sun.com/jsf/html" 
	  xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Cadastros</ui:define>

	<ui:define name="tituloPagina">Universidade JSF |</ui:define>
	<ui:define name="descricaoPagina">Cadastro de Alunos</ui:define>
	
	<ui:define name="cadastro" />
	<ui:define name="pesquisa" />

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
		<h:form>
			<h:outputText value="Nome do aluno:" /><br/>				  
			<h:inputText value="#{studentBean.student.name}" class="form-control"/><br/>
			<h:selectOneMenu binding="#{courseNameSelected}" class="form-control">
    			<f:selectItems value="#{courseBean.listCourses()}" />
			</h:selectOneMenu>
			<br/>						
			<h:commandButton value="Incluir" action="#{studentBean.addStudent(courseNameSelected.value)}" class="btn btn-info"/>
		</h:form>	
	</ui:define>
	
</ui:composition>