<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateUniversidade.xhtml"
      xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:p="http://primefaces.org/ui"
	  xmlns:ui="http://java.sun.com/jsf/facelets" 
	  xmlns:h="http://java.sun.com/jsf/html" 
	  xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Página Inicial</ui:define>

	<ui:define name="tituloPagina">Bem Vindo |</ui:define>
	<ui:define name="descricaoPagina">Area do Adminstrativa</ui:define>
	
	<ui:define name="inicio" />
	<ui:define name="escola" />
	<ui:define name="professor" />
	<ui:define name="aluno" />
	<ui:define name="diciplina" />
	<ui:define name="curso" />

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">

	</ui:define>
	
</ui:composition>