<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateLogin.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html">

	<ui:define name="titulo">Universidade - Aluno</ui:define>

	<ui:define name="tituloPagina">Login |</ui:define>
	<ui:define name="descricaoPagina">Universidade</ui:define>

	<ui:define name="conteudoDireita">
		<h:graphicImage library="imagens" name="mundi_vetor.jpg"
			class="img-responsive img-rounded" />
	</ui:define>

	<ui:define name="conteudoEsquerda">
		<div id="boxform">
			<h:form id="form">
				<h:outputLabel for="email" value="E-mail:" />
				<h:inputText value="#{loginBean.user.email}" id="email"
					required="true" label="email" class="form-control" />
				<br />

				<h:outputLabel for="password" value="Senha:" />
				<h:inputSecret value="#{loginBean.user.password}" id="password"
					required="true" label="password" class="form-control" />
				<br />

				<h:commandButton id="loginButton" value="Login"
					action="#{loginBean.login}" class="btn btn-info" />
			</h:form>
		</div>
	</ui:define>

</ui:composition>