<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateListagem.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets" 
	xmlns:h="http://java.sun.com/jsf/html" 
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Listagem</ui:define>

	<ui:define name="tituloPagina">Listagem |</ui:define>
	<ui:define name="descricaoPagina">Servicos</ui:define>
	
	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
		
		<h:panelGroup rendered="#{empty disciplineBean.disciplineByCourseId(param['courseId'])}">
			<h:link value="Clique aqui para efetuar o cadastro de pelo menos uma disciplina para este curso (obrigatório)" outcome="/register/discipline-registration"/>
		</h:panelGroup>
		
		<h:panelGroup rendered="#{not empty disciplineBean.disciplineByCourseId(param['courseId'])}">
			<h:outputText value="Nome dos Estudantes" style="font-weight:bold"/>					
			<h:dataTable value="#{studentBean.listStudentsByCourseId(param['courseId'])}" var="student"> 
				<h:column>
					<h:outputText value="#{student.name}" />
				</h:column>
				
				<h:column>
					<h:link value=" - selecionar" outcome="/register/grade-registration">
						<f:param name="studentName" value="#{student.name}"/>
						<f:param name="courseId" value="#{param['courseId']}"/>
					</h:link>
				</h:column>
			</h:dataTable>
		</h:panelGroup>	
		
	</ui:define>

</ui:composition>
				
