<!DOCTYPE html>
<ui:composition template="/WEB-INF/Template/templateListagem.xhtml"
	xmlns="http://www.w3.org/1999/xhtml" xmlns:p="http://primefaces.org/ui"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core">

	<ui:define name="titulo">Universidade - Listagem</ui:define>

	<ui:define name="tituloPagina">Listagem |</ui:define>
	<ui:define name="descricaoPagina">Listagem de Professores sem curso</ui:define>

	<ui:define name="conteudoDireita">

	</ui:define>

	<ui:define name="conteudoEsquerda">
	
		<h:dataTable value="#{courseBean.listCourses()}" var="course">
			<h:column>
				<f:facet name="header">
					Listagem de Professores por curso.
				</f:facet>
				<h:link value="#{course.name}" outcome="professors-per-course-2">
					<f:param name="courseId" value="#{course.courseId}" />
				</h:link>
			</h:column>
		</h:dataTable>
	</ui:define>

</ui:composition>
